html{
    scroll-behavior: smooth;
}

body{
        font-family: sans-serif;
        text-align: center;
        background-size: cover;
        display: inline;
        background-color: rgb(177, 73, 4);
    }
    
    #banner{
        height: 400px; /* Altura do banner */
        background-image: url(cafe_angatu.jpg); /* Caminho para sua imagem */
        background-size: cover; /* Ajusta a imagem para cobrir todo o elemento */
        background-position: center; /* Centraliza a imagem no elemento */
        color: #fff; /* Cor do texto no banner (pode ser ajustada conforme necessário) */
        text-align: center; /* Alinha o texto no centro do banner */
        padding-top: 50px; /* Espaçamento superior do texto dentro do banner */
        clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%); /* Define a forma ondulada */
    }
    /* Estilizando o texto dentro do banner */
    #banner h1{
        font-size: 2em; /* Tamanho da fonte do título */
        color: rgb(201, 129, 81);
    }
    
    nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    nav li{
        display: inline-block;
        margin-right: 10px; /* Espaçamento entre os itens*/
    }
    
    nav a{
        text-decoration: none;
        color: #333;
        padding: 5px 10px;
        border: 1px solid #ccc; /* Borda ao redor dos itens (opcional) */
        border-radius: 5px; /* Borda arredondada (opcional) */
    }
    
    h1{
        color: rgb(255, 207, 96);
        background-color: rgb(68, 39, 2, 0.7);
        padding: 10px; 
        margin: 0 0 20px;
    }
    
    h2{
        color: rgb(255, 191, 149);
    }
    
    h3{
        color: rgb(233, 127, 88);
        border-radius: 15px;
        border-style: double;
        background-color: rgba(87, 26, 4, 0.552);
        text-align: center;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
    
    h4{
        color: rgb(250, 255, 109);
    }
    
    ul{
        color: rgb(80, 31, 0);
        background-color: rgba(204, 0, 58, 0.127);
        margin: 0;
        padding: 0;
    }
    
    img{
        width: 100px;
        height: 100px;
        border-radius: 60px;
        border-style: dashed;
    }
    
    .legenda{
        text-align: center;
    }
    
    .container{
        text-align: center; /* Opcional: centraliza as caixas dentro da seção */
        min-width: 100%;
    }
    
    .box{
        display: inline-block;
        vertical-align: top; /* Alinha as caixas no topo uma ao lado da outra */
        width: 30%; /* Define um tamanho mínimo para as caixas */
        min-height: 300px;
        text-align: center; /* Opcional: centraliza o conteúdo dentro das caixas */
        background-color: #6e480292;
        border-radius: 100px;
        border-style: double;
    }
    
    .box strong,
    .box p{
        display: inline-block;
        padding: 10px;
    }
    
    .atividades{
        border:1px cume #C0C0C0;
        border-collapse:colapso;
        padding:5px;
    }
    
    .atividades th{
        border:1px rgb(250, 255, 109);
        padding:5px;
        background:rgb(250, 255, 109);
    }
    
    .atividades td{
        border:1px double rgb(250, 255, 109);
        padding:5px;
    }